# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Database files
*.db

# Flask instance folder
instance/

# Uploaded files
app/static/uploads/

# IDE files
.vscode/