<h1>
    Gallery of {{ child.name }}
</h1>


<a href="
{{ url_for(
    'gallery.upload_photo',
    child_id=child.id
) }}">
    Upload photo
</a>


<hr>


{% for photo in photos %}

<div>

    <h3>
        {{ photo.title }}
    </h3>


    <img
        src="{{ url_for(
            'static',
            filename='uploads/' + photo.filename
        ) }}"
        width="300"
    >


    <p>
        {{ photo.description }}
    </p>


    <p>
        Date:
        {{ photo.upload_date }}
    </p>

    <a href="
    {{ url_for(
    'gallery.edit_photo',
    photo_id=photo.id
    ) }}">
        Edit
    </a>

    <form
    method="POST"
    action="
    {{ url_for(
    'gallery.delete_photo',
    photo_id=photo.id
    ) }}"
    >


    <button>
    Delete
    </button>


    </form>


</div>


<hr>


{% else %}

<p>
    No photos yet.
</p>

{% endfor %}